<!-- In this we will create our mix html-js code in the form of templates. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>A Home page</h1>
    <p>A random text</p>
    <button>Click Me</button>
</body>
</html>
